.message{
  background-color: #c5e6c1;
  margin-bottom: 2px;
  padding: 0px 4px;
}
.messageTitle{
  background-color: #29afdf;
  padding: 0px 4px;
  margin: 0px;
  font-size: 11px;
}
.messageBody >p{
  padding: 0px 4px;
  margin: 0px;
  font-size: 12px;
}
.messageBody >.messageBody_date{
  text-align: right;
  font-size: 11px;
}
.chatscomponent{
  height: 90vh;
  overflow-y: auto;
  overflow-x: auto;
}